* {
    box-sizing: border-box;
}
html {
    background-color: rgba(137,207,240,0.2);
}
img {
    max-width: 100%;
}

body {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    text-align: center;
    font-family: 'Alata', sans-serif;
}
h2, p, ul, li, blockquote, figcaption{
    font-family: 'Montserrat', sans-serif;
}

p, ul, li, blockquote{
    font-size: 16px;
}

figure{
    text-align: center;
    margin: 0;
}

figcaption{
    font-size: 12px;
    text-align: center;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    padding: 0;
    text-align: center;
    font-family: Futura;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    margin-right: 10px;
    display: inline-block;
    color: #1b47a1;
}

.content {
    background-color: #FFF;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

ul.header li a:hover{
    transition: 0.3s;
}

ul.header li a:hover, ul.header .active {
    color: #083082;
    border-bottom: 3px solid #083082;
}

.cityListBigWebsite{
    display: none;
}

@media screen and (min-width: 768px) {
    .content {
        padding: 20px 50px;
    }
    figure{
        text-align: center;
        margin: auto;
    }

}

@media screen and (min-width: 948px) {
    .cityListBigWebsite{
        display: flex;
    }

    .cityListBigWebsite div li{
        background-color: rgba(250,250,250,0.7);
    }

    .cityListBigWebsite div li:hover{
        background-color: rgba(250,250,250,0.4);
    }

    .cityListSmallWeb{
        display: none;
    }
}

